# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

.idea
.DS_Store
Models/XGBoost_64.0%_ML-4.json
Models/XGBoost_65.3%_ML-4.json
Models/XGBoost_65.9%_ML-4.json
Models/XGBoost_66.7%_ML-4.json
Models/XGBoost_66.8%_ML-4.json
Models/XGBoost_66.9%_ML-4.json
Models/XGBoost_67.3%_ML-4.json
Models/XGBoost_67.7%_ML-4.json
Models/XGBoost_68.5%_ML-4.json
Logs/1734255937.0624979/train/events.out.tfevents.1734255937.eos.518729.0.v2
Logs/1734255979.1348267/train/events.out.tfevents.1734255980.eos.519971.0.v2
Logs/1734255979.1348267/validation/events.out.tfevents.1734255983.eos.519971.1.v2
Models/Trained-Model-ML-1734255979.1348267/fingerprint.pb
Models/Trained-Model-ML-1734255979.1348267/keras_metadata.pb
Models/Trained-Model-ML-1734255979.1348267/saved_model.pb
Models/Trained-Model-ML-1734255979.1348267/variables/variables.data-00000-of-00001
Models/Trained-Model-ML-1734255979.1348267/variables/variables.index
Logs/1734256339.8019822/train/events.out.tfevents.1734256340.eos.529957.0.v2
Logs/1734256339.8019822/validation/events.out.tfevents.1734256343.eos.529957.1.v2
Models/Trained-Model-ML-1734256339.8019822/fingerprint.pb
Models/Trained-Model-ML-1734256339.8019822/keras_metadata.pb
Models/Trained-Model-ML-1734256339.8019822/saved_model.pb
Models/Trained-Model-ML-1734256339.8019822/variables/variables.data-00000-of-00001
Models/Trained-Model-ML-1734256339.8019822/variables/variables.index
Logs
Models/Trained-Model-ML-1734517841.5721986
Models/Trained-Model-OU-1734518503.5092409
Models/Trained-Model-ML-1734518415.4663405
results.md
.envrc
.vscode
Models/Trained-Model-ML-1741301808.8793805
Models/Trained-Model-OU-1741301919.6954873
Models/XGBoost_50.1%_UO-9.json
Models/XGBoost_51.1%_UO-9.json
Models/XGBoost_53.4%_UO-9.json
Models/XGBoost_64.3%_ML-4.json
Models/XGBoost_65.1%_ML-4.json
Models/XGBoost_67.1%_ML-4.json
Models/XGBoost_67.9%_ML-4.json
Models/XGBoost_68.1%_ML-4.json
Models/XGBoost_68.8%_ML-4.json
